<table>
    <tbody>
        <% _.each(data.translations, function(item) { %>
        <tr>
            <td><%= item.wordId %></td>
            <td><%= item.translation %></td>
        </tr>
        <% } ) %>
    </tbody>
</table>